body {
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: block;
}

img {
  height: 100px;
  width: 155px;
}

#product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-product-div {
}

.row-gap {
  margin: 45px;
}
