/*
font-family: 'ZCOOL QingKe HuangYou', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Inconsolata', monospace;
*/
h1 {
  font-family: 'Fugaz One', cursive;
  font-size: 3em;
}
h3 {
  font-family: 'Inconsolata', monospace;
}
h2 {
  font-family: 'Inconsolata', monospace;
}
body {
  font-family: 'Inconsolata', sans-serif;
  text-align: center;
  background-image: url('./background_img.jpg');
}

a {
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
}

label {
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-radius: 83px;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 100%);
}

nav {
  align-self: center;
  margin-right: 43px;
}

.logo-div {
  background: rgb(0, 0, 0);
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.logo {
  color: rgb(227, 226, 226);
  margin: 0;
  padding-top: 45px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: block;
}

img {
  height: 100px;
  width: 120px;
  margin-top: 2em;
}

#product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(250, 235, 215, 0.338);
  width: 90%;
  margin: 0 auto;
  margin-top: 90px;
  border-radius: 5px;
}

#backgroundimg {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-color: white;
}

.single-product-div,
#form,
#cart,
#history {
  background-color: rgba(250, 235, 215, 0.338);
  margin: 0 auto;
  border-radius: 8px;
  width: 40%;
  margin-top: 90px;
}

.single-product-div {
  margin: 0 auto;
  width: 50%;
}

#form {
}

#cart {
}

#history {
  margin: 0 auto;
}

.product-item {
  padding-top: 5%;
}
ul {
  list-style-type: none;
}

.row-gap {
  margin: 45px;
}

.nav-links {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  background: 0 0;
  box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff;
  border-radius: 25px;
}

a:active {
  text-decoration: underline;
}

button {
  border-radius: 5px;
  margin-top: 2em;
}

button:hover {
  border-radius: 5px;
  box-shadow: 2px 2px 7px 0px black;
}

.nav-links:hover {
  background-color: rgb(199, 116, 27);
}

@media (max-width: 728px) {
  nav {
    margin: 0;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .single-product-div,
  #history {
    width: 90%;
  }
}

@media (max-width: 520px) {
  nav {
    width: 85%;
  }
  nav div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .nav-links {
    margin: 8px 0 0 0;
    padding: 10px 0;
  }
}

#link {
  display: flex;
  flex-direction: column;
}

#popUp {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#popUp.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#productQty {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
